
img {vertical-align: middle;}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 4s;
  animation-name: fade;
  animation-duration: 4s;
}

@-webkit-keyframes fade {
  from {opacity: .3}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .3}
  to {opacity: 1}
}

.slide {
    display: none;
}

/* ... */

.split {
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
}


.center{
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.vertical-center{

    position:absolute;
    top: 50%;
    transform: translate(0%, -50%);

}

.horizontal-center{
    position:absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.inner-container{
    position: absolute;
}

@media screen and (max-width:850px) {
  .right {
       width:100%;
  }

  .inner-container{
    width: 50%;
    left : 50%;
    transform: translate(-50%, 0%);

  }
}
