<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'instagmar_app/css/style.css' %}">


</head>

<body>


<div class="bg-light full-size">
    <!--    body-container-->
    <div class="bg-light border-bottom border-secondary full-width center-content" id=""
         style="height: 50px;top: 0; left:0px; right:0px; position:absolute; overflow: hidden">
        <!--        header-->
        {% block header %}
        {% endblock %}

    </div>

    <div class="center-content" style="position: absolute;left:0px; right:0px; top: 50px; bottom: 50px;">

                {% block content %}{% endblock %}

    </div>


    <div class="bg-light border-top border-secondary full-width center-content"
         style="position:absolute; bottom: 0;left:0px; right:0px; height: 50px; overflow: hidden">
        <!--        footer-->
        <div class="row" style="width: 710px">
            <a class="col center-content" href="{% url 'instagmar_app:postsview' %}">
                <div class="center-content" style="width: 30px; height:30px;">
                    {% block posts_icon %}
                    <img class="full-size" src="{% static 'instagmar_app/images/main/posts.PNG' %}">
                    {% endblock %}
                </div>
            </a>

            <!--            <div class="col center-content">-->
            <!--                <img src="{% static 'instagmar_app/images/main/explorer.PNG' %}">-->
            <!--            </div>-->

            <a class="col center-content" href="{% url 'instagmar_app:newpostview' %}">
                <div class="center-content" style="width: 30px; height: 30px;">
                    <img class="full-size" src="{% static 'instagmar_app/images/main/newpost.PNG' %}">
                </div>
            </a>

            <!--            <div class="col center-content">-->
            <!--                <img src="{% static 'instagmar_app/images/main/activity.PNG' %}">-->
            <!--            </div>-->
            <a class="col center-content" href="{% url 'instagmar_app:mainview'%}">
                <div class="center-content" style="width: 30px; height:30px;">
                    {% block home_icon %}
                    <img class="full-size" src="{% static 'instagmar_app/images/main/home.PNG' %}">
                    {% endblock %}
                </div>
            </a>
        </div>

    </div>

</div>
</body>
</html>