<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'instagmar_app/css/style.css' %}">


</head>

<body class="" style="">


<div class="bg-light no-gutters full-size" style="position:absolute;">
    <!--    body-container-->
    <div class="bg-light border-bottom border-secondary full-width center-block" id="header"
         style="top: 0; height: 50px; position:fixed">
        <div class="full-height" style="line-height: 50px; text-align:center;">username</div>
    </div>

    <!--    <div class="bg-white" style="height: calc(100vh); overflow: auto;">-->
    <!--        <p>scrolling content</p>-->
    <!--        <p>scrolling content</p>-->
    <!--        <p>scrolling content</p>-->
    <!--        <p>scrolling content</p>-->
    <!--        <p>scrolling content</p>-->
    <!--        <p>scrolling content</p>-->
    <!--        <p>scrolling content</p>-->
    <!--        <p>scrolling content</p>-->
    <!--        <p>scrolling content</p>-->
    <!--        <p>scrolling content</p>-->
    <!--        <p>scrolling content</p>-->
    <!--        <p>scrolling content</p>-->
    <!--        <p>scrolling content</p>-->
    <!--        <p>scrolling content</p>-->
    <!--        <p>scrolling content</p>-->
    <!--        <p>scrolling content</p>-->
    <!--        <p>scrolling content</p>-->
    <!--        <p>scrolling content</p>-->
    <!--        <p>scrolling content</p>-->
    <!--        <p>scrolling content</p>-->
    <!--        <p>scrolling content</p>-->
    <!--        <p>scrolling content</p>-->
    <!--        <p>scrolling content</p>-->
    <!--        <p>scrolling content</p>-->
    <!--        <p>scrolling content</p>-->
    <!--        <p>scrolling content</p>-->
    <!--        <p>scrolling content</p>-->
    <!--        <p>scrolling content</p>-->
    <!--        <p>scrolling content</p>-->
    <!--        <p>scrolling content</p>-->
    <!--        <p>scrolling content</p>-->
    <!--        <p>scrolling content</p>-->
    <!--        <p>scrolling content</p>-->
    <!--        <p>scrolling content</p>-->
    <!--        <p>scrolling content</p>-->
    <!--        <p>scrolling content</p>-->
    <!--        <p>scrolling content</p>-->
    <!--        <p>scrolling content</p>-->
    <!--        <p>scrolling content</p>-->
    <!--        <p>scrolling content</p>-->
    <!--        <p>scrolling content</p>-->
    <!--        <p>scrolling content</p>-->
    <!--    </div>-->

    <div id="content" class="bg-info center-content full-width bg-white"
         style="height: 100vh; overflow: auto;">

        <!--            content-->
        <div class="full-height bg-light" style="width: 710px;">
            <!--            content-container-->
            <div class="bg-white full-width no-gutters" style="margin-top: 50px; height: 200px ">
                <!--                top-content    -->
                <div class="row full-width no-gutters" style="height: 80px">
                    <div class="col-2 gutters">
                        <div class="center-content full-size">
                            <img src="{% static 'instagmar_app/images/home_images/empty-profile.PNG' %}"
                                 style="height: 75px; width: 75px;">
                        </div>
                    </div>

                    <div class="col-10 no-gutters">

                        <div class="row full-width no-gutters" style="height: 50px; padding: 4px">
                            <div class="col">
                                <p class="text-center" style="height: 5px;"><b>0</b></p>
                                <p class="text-center text-muted" style="height: 5px; font-size: 11px">posts</p>
                            </div>

                            <div class="col">
                                <p class="text-center" style="height: 5px;"><b>0</b></p>
                                <p class="text-center text-muted" style="height: 5px; font-size: 11px">flowers</p>
                            </div>

                            <div class="col">
                                <p class="text-center" style="height: 5px;"><b>0</b></p>
                                <p class="text-center text-muted" style="height: 5px; font-size: 11px">following</p>
                            </div>
                        </div>

                        <div class="row full-width no-gutters" style="height: 30px">
                            <div class="col-11" style="">
                                <div class="border rounded center-content"
                                     style="width: 99%; height: 99%;font-size: 12px; text-align: center">
                                    <b>Edit profile</b>
                                </div>

                            </div>

                            <div class="col-1 center-content" style="">

                                <div class="border rounded center-content" style="width: 99%; height: 99%;">
                                    <!-- The Modal -->
                                    <div class="full-size center-content">
                                        <img data-toggle="modal" data-target="#myModal"
                                             src="{% static 'instagmar_app/images/home_images/menu.png' %}"
                                             style="width: 20px; height: 20px;">
                                    </div>
                                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">

                                                <div class="modal-body">
                                                    <ul>
                                                        <ui>
                                                            <a href="{% url 'instagmar_app:logoutview' %}">logout</a>
                                                        </ui>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>


                    </div>

                </div>
                <div class="full-width">
                    <p>bio</p>
                    <p>name</p>
                    <p>site</p>
                </div>
            </div>
            <div>

                <!--                bottom-content-->

            </div>
        </div>

    </div>
    <div class="bg-light border-top border-secondary full-width center-content"
         style="position:fixed; bottom: 0; margin: 0; height: 50px;">
        <div class="row" style="width: 710px">

            <div class="col center-content" style="width: 30px; height:30px;">
                <img src="{% static 'instagmar_app/images/home_images/posts.PNG' %}">
            </div>

            <!--            <div class="col center-content">-->
            <!--                <img src="{% static 'instagmar_app/images/home_images/explorer.PNG' %}">-->

            <!--            </div>-->

            <!--            <div class="col center-content">-->
            <!--                <img src="{% static 'instagmar_app/images/home_images/activity.PNG' %}">-->

            <!--            </div>-->

            <div class="col center-content" style="width: 30px; height:30px;">
                <img src="{% static 'instagmar_app/images/home_images/home.PNG' %}">

            </div>
        </div>

    </div>

    <script>

        $('#myModal').appendTo("body")
    </script>
</div>
</body>
</html>