<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'instagmar_app/css/style.css' %}">

</head>
<body>

<style>
    .field {
        margin: 10px;
    }
</style>

<div class="full-size center-content">
    <div style="width: 300px; height: 100%">
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}

            <div class="field full-width from-group border" style="height: 300px;">
                <img class="full-size" id="loaded"
                     src="{% static 'instagmar_app/images/newpost/upload.png' %}"">
            </div>


            <div class="field full-width">
                <input class="form-control full-size" type="file" name="content"
                       accept="image/*"
                       onchange="display_file(this)" style="display: block">
            </div>

            <div class="field full-width form-group"><textarea class="form-control" name="caption" rows="10"
                                                               placeholder="caption ..."></textarea></div>


            <div class="field full-width form-group"><input class="form-control" type="submit" value="share"></div>

        </form>
    </div>
</div>

<script>

    function display_file(input) {
        if (input.files && input.files[0]) {
            let reader = new FileReader();

            reader.onload = function (e) {
                $('#loaded')
                    .attr('src', e.target.result)
                // .style.opacity = 1;

                // .height(300);

            };

            reader.readAsDataURL(input.files[0]);
        }
    }

</script>


</body>
</html>